 /*----------------
     MAIN
 ----------------*/
 main{
    height: calc(100vh - 5rem);
    background-color: #141922;
    overflow-y: auto;
 }
/*----------------
     MAIN-ASIDE
 ----------------*/
 /*----------------
     MAIN-TOP
 ----------------*/
 #main-top{
    background-color: #080b12;
 }
 #main-top button{
    padding: .9375rem 2.5rem;
    border-radius: 1.875rem;
    border: .0625rem solid #fff;
    color: #fff;
    font-weight: 700;
 }
 /*----------------
     MAIN-MENU
 ----------------*/
 #menu nav{
    color: #797c80;
    font-weight: 700;
    font-size: 14px;
 }
 #menu li{
    cursor: pointer;
 }
 /*----------------
     FOOTER
 ----------------*/
 footer{
    height: 5rem;
    background-color: grey;
 }