/*----------------
     CONTAINER
 ----------------*/
 .container{
   height: calc(100vh - 5rem);
   display: flex;
 }
 .container-aside{
   padding-top: 1.25rem;
   padding-left: 1.25rem;
   padding-right: 1.25rem;
   height: 100%;
 }
/*----------------
     HEADER-ASIDE
 ----------------*/
 header {
    background-color: black;
    color: #717171;
    width: 250px;
    flex-shrink: 0;
    overflow-y: auto;
 }
 #aside img{
   width: 1.875rem;
   padding: .3125rem;
   margin-right: .3125rem;
}
 #aside .logo-big{
   width: 9rem;
 }
 #aside .logo-small{
    display: none;
 }
 #aside .main-nav li{
   padding: .3125rem 0;
}
 #aside .name-playlist li{
    padding: .625rem 0;
 }
 #aside .name-playlist{
   flex-grow: 1;
   overflow-y: auto;
}
 .b-hover:hover{
    border-left: .0625rem solid #adff2f;
 }
 .dowload{
    width: 1.7rem;
 }
 #aside hr{
    margin-top: .625rem;
 }
 #aside button{
    width: 2.375rem;
    height: 2.375rem;
    background-color: #a3a3a3;
    font-size: 1.875rem;
    font-weight: 700;
    margin-right: .625rem;
 }
 #aside .profile{
   clip-path: circle();
   background-color: #808080;
}
 /*----------------
     MAIN
 ----------------*/
 main{
   overflow-y: auto;
 }
/*----------------
     MAIN-TOP
----------------*/
#main-top{
    background-color: #080b12;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
}
#main-top button{
    padding: .9375rem 2.5rem;
    border-radius: 1.875rem;
    border: .0625rem solid #fff;
    color: #fff;
    font-weight: 700;
}
#main-top button:hover{
    padding: 1rem 3rem;
}
/*----------------
     MAIN-MENU
 ----------------*/
#menu{
    color: #fff;
    background-color: #141922;
 }
#menu nav{
    color: #797c80;
    font-weight: 700;
    font-size: 14px;
 }
#menu li:hover{
    border-bottom: .0625rem solid;
    border-color: #adff2f;
 }
#menu .col{
    width: calc(100% / 6);
 }
#menu h1, #menu .col {
    padding: 1.875rem .9375rem;
}
#menu h4{
    padding-top: 1.25rem;
    padding-bottom: .9375rem;
    text-align: center;
 }
 #menu p{
    color: #7d7f84;
 }
 /*----------------
     FOOTER
 ----------------*/
 footer{
    height: 5rem;
    background-color: #282828;
    padding: 1.25rem .625rem;
 }
 footer i{
    padding: 0 .525rem;
    color: #fff;
 }
 footer img{
    max-width: 40px;
 }
 #left i, #left p{
    color: #878787;
 }
 #left i:hover, #left p:hover{
    color: #fff;
    cursor: pointer;
 }
 .big{
    font-size: 1.875rem;
 }
 .big:hover{
    font-size: 2.5rem;
 }
 .bar{
   height: .3125rem;
   border-radius: .3125rem;
 }
.bar-sound{
   width: 25rem;
   background-color: #5a5a5a;
   margin: 0 1.25rem;
}
.bar-inside-sound{
   width: 5rem;
   background-color: #c1c1c1;
}
.bar-inside-sound:hover{
   background-color: lime;
}
.bar-right{
   width: 6.5rem;
   background-color: #5a5a5a;
   margin-left: -0.3125rem;
   margin-right: -0.5rem;
}
.bar-inside-right{
   width: 2rem;
   background-color: #c1c1c1;
}

 /*----------------
    MEDIA-1100
 ----------------*/
 @media screen and (max-width: 1100px){
   #menu .col{
      width: calc(100% / 4);
   }
   #left i, #left span{
      display: block;
  }
   .bar-sound{
      width: 11rem;
   }
   .bar-inside-sound{
      width: 3rem;
   }
 }
 /*----------------
    MEDIA-700
 ----------------*/
 @media screen and (max-width: 700px){
   #menu .col{
      width: 50%;
   }
   .bar-sound{
      width: 6.5rem;
   }
   .bar-inside-sound{
      width: 2rem;
   }
 }
 /*----------------
    MEDIA-600
 ----------------*/
 @media screen and (max-width: 600px){
   header{
      width: 3.125rem;
   }
   .container-aside{
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    #aside p, #aside h5, #aside .name-playlist, #aside button, #aside hr, #aside .logo-big, #aside span{
        display: none;
    }
    #aside .logo-small{
         display: block;
         width: 3.125rem;
    }
    #aside img{
      margin-left: 10px;
    }
    #aside .logo-small{
      margin-left: 0;
    }
 }
 