/*----------------
     CONTAINER
 ----------------*/
 .container{
    max-width: 1100px;
 }
 .container-aside{
    max-width: 14.375rem;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
 }
/*----------------
     MAIN
 ----------------*/
 main{
    height: calc(100vh - 5rem);
    background-color: #141922;
    overflow-y: auto;
 }
/*----------------
     MAIN-ASIDE
 ----------------*/
 #aside {
    background-color: #0000;
    color: #717171;
 }
 #aside .row > img{
    max-width: 8.125rem;
 }
 #aside img{
    max-width: 1.875rem;
    padding-right: .3125rem;
 }
 #aside li{
    padding: .625rem 0;
 }
 #aside H5{
    color: #fff;
 }
 #aside .profile{
    clip-path: circle();
    background-color: #808080;
 }
/*----------------
     MAIN-TOP
----------------*/
#main-top{
    background-color: #080b12;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
}
#main-top button{
    padding: .9375rem 2.5rem;
    border-radius: 1.875rem;
    border: .0625rem solid #fff;
    color: #fff;
    font-weight: 700;
}
/*----------------
     MAIN-MENU
 ----------------*/
#menu{
    color: #fff;
 }
#menu nav{
    color: #797c80;
    font-weight: 700;
    font-size: 14px;
 }
#menu li{
    cursor: pointer;
 }
#menu .col{
    width: calc(100% / 6);
 }
#menu h1, #menu .col {
    padding: 1.875rem .9375rem;
}
#menu h4{
    padding-top: 1.25rem;
    padding-bottom: .9375rem;
    text-align: center;
 }
 #menu p{
    color: #7d7f84;
 }
 /*----------------
     FOOTER
 ----------------*/
 footer{
    height: 5rem;
    background-color: #282828;
 }
 footer img{
    max-width: 40px;
 }

 /*----------------
    MEDIA-1100
 ----------------*/
 @media screen and (max-width: 1100px){
    #menu .col{
        width: calc(100% / 4);
     }
 }
 /*----------------
    MEDIA-700
 ----------------*/
 @media screen and (max-width: 700px){
    #menu .col{
        width: 50%;
     }
 }
 /*----------------
    MEDIA-600
 ----------------*/
 @media screen and (max-width: 600px){
    
 }