/*----------------
     RESET
 ----------------*/
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 /*----------------
     GOOGLE-FONT
 ----------------*/
 body{
    font-family: "Montserrat", sans-serif;
 }
 /*----------------
     GENERAL
 ----------------*/
 .row{
    display: flex;
    flex-wrap: wrap;
 }
 img{
    max-width: 100%;
 }
 ul li{
    list-style: none;
 }
 a{
    text-decoration: none;
 }
 .c-pointer{
    cursor: pointer;
 }
/*----------------
     FLEX
 ----------------*/
 .flex-column{
    flex-direction: column;
 }
 .dis-flex{
    display: flex;
 }
 .align-center{
    align-items: center;
 }
 .justify-center{
    justify-content: center;
 }
 .justify-end{
    justify-content: flex-end;
 }
 .gap-20{
    gap: 1.25rem;
 }
  /*----------------
     BTN
 ----------------*/
 button{
    border: none;
    background-color: transparent;
    font-family: inherit;
 }
 /*----------------
     UTILITY
 ----------------*/
 /*----------------
     TIPOGRAPHY
 ----------------*/
 .text-center{
    text-align: center;
 }
 /*----------------
     PADDING
 ----------------*/
 /*----------------
     PADDING-TOP
 ----------------*/
 .padding-t-20{
    padding-top: 1.25rem;
 }
 .padding-t-25{
    padding-top: 1.5625rem;
 }
 /*----------------
     PADDING-BOT
 ----------------*/
 .padding-b-30{
    padding-bottom: 1.875rem;
 }
 .padding-b-20{
    padding-bottom: 1.25rem;
 }
 /*----------------
     PADDING-RIGHT
 ----------------*/
 .padding-r-5{
    padding-right: .3125rem;
 }
 /*----------------
     PADDING-LEFT
 ----------------*/
 .padding-l-15{
    padding-left: .9375rem;
 }
 /*----------------
     MARGIN
 ----------------*/
