/*----------------
     RESET
 ----------------*/
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 /*----------------
     GENERAL
 ----------------*/
 body{
    font-family: "Montserrat", sans-serif;
 }
 .row{
    display: flex;
    flex-wrap: wrap;
 }
 /*----------------
     COL
 ----------------*/
 /*----------------
     UTILITY
 ----------------*/
 /*----------------
     TIPOGRAPHY
 ----------------*/
 /*----------------
     PADDING
 ----------------*/
 /*----------------
     MARGIN
 ----------------*/
